
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
    margin: 0;
}


header {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #004a99;
    border-radius: 5px;
}


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #0066cc;
}

p {
    margin-bottom: 20px;
    line-height: 1.8;
}

strong {
    font-weight: 700;
    color: #004a99;
}

i {
    color: #666;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    margin: 10px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figcaption {
    font-style: italic;
    color: #555;
}


blockquote {
    background-color: #e0e7ff;
    padding: 15px;
    margin: 20px 0;
    border-left: 5px solid #004a99;
    font-style: italic;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    padding: 15px;
    vertical-align: top;
}

td img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}





