
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}


video {
    border-radius: 15px; 
    overflow: hidden; 
}


body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
}


h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif; 
}




